@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.header {
  background-color: #607d8b;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  display: block;
}

h1 {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
