@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap');

$border-color: #9E9E9E;

$primary-font:  'PT Sans', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-color: #2196F3;
$secondary-color: #607D8B;

$border-corner: 7px;


